
.page3{
    margin-top: -100vh;
    min-height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    color: white;
    font-family: "Poppins";
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}
.page3 p{
    font-size: 19px;
}
.page3 h1{
    font-size: 45px;
    width: 70%;
    line-height: 1.2;
    text-align: center;
}
.page3-main{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.page3-main-left{
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 0.4s;
    margin: 20px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.425);
}
.page3-main-top{
    width: 100%;
    height: 100%;
    /* border: 2px solid red;  */
    position: relative;
    display: flex;
    align-items: end;
    justify-content: right;
}
.page3-main-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page3-main-top >.icons{
    /* background-color: #ff3147; */
    position: absolute;
    margin-right: 20px;
    font-size: 25px;
    margin-bottom: 20px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons>span{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.812);
    border-radius: 50%;
}
.icons span:nth-child(1){
    color: #ff3147;
}
.icons span:nth-child(2){
    color: rgb(201, 68, 201);
}
.icons span:nth-child(3){
    color: blue;
}
.page3-main-right{
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 0.5s;
    margin: 20px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.425);
}
.page3-main-bottom{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.page3-main-bottom p:nth-child(1){
 font-size: 18px;
}
.page3-main-bottom p:nth-child(2){
    font-size: 16px;
    color: rgba(255, 255, 255, 0.437);
}
.page3-main-bottom p:nth-child(3){
    font-size: 16px;
    color: rgba(255, 255, 255, 0.525);
}
.page3-main-bottom p:nth-child(3)>span{
    font-size: 16px;
    color: white;
}
.page3-main-bottom button{
    width: 120px;
    height: 45px;
    background-color: #ff3147;
    color: white;
    font-weight: 600;text-transform: uppercase;
    border: none;
    border-radius: 5px;
}
@media (max-width:786px){
    .page3 h1{
        font-size: 5.5vw;
        width: 70%;
        line-height: 1.2;
        text-align: center;
    }
    .page3-main{
        flex-direction: column;
        align-items: center;
    }
    .page3-main .page3-main-left,.page3-main-right{
        width: 90%;
        margin: 20px;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.425);
    }
}
@media (max-width:518px){
    .page3 h1{
        font-size: 7vw;
        width: 70%;
        line-height: 1.2;
        text-align: center;
        width: 80vw;
    }
    .page3-main .page3-main-left,.page3-main-right{
        width: 100%;
        margin: 10px 0px;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.425);
    }
    .page3-main{
        padding: 0px;
        margin: 0px;
    }
}
@media (max-width:1100px){
    .page3-main .page3-main-left,.page3-main-right{
        width: 65%;
        margin: 20px;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.425);
    }
}